In [ ]:
!pip install tomotopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tomotopy
  Downloading tomotopy-0.12.2-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (16.3 MB)
     |████████████████████████████████| 16.3 MB 5.4 MB/s
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tomotopy) (1.21.6)
Installing collected packages: tomotopy
Successfully installed tomotopy-0.12.2

In [ ]:
import tomotopy as tp
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Womens Clothing E-Commerce Reviews.csv to Womens Clothing E-Commerce Reviews.csv

In [ ]:
import io
reviews_df= pd.read_csv(io.BytesIO(uploaded['Womens Clothing E-Commerce Reviews.csv']))

In [ ]:
!pip install neattext

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting neattext
  Downloading neattext-0.1.3-py3-none-any.whl (114 kB)
     |████████████████████████████████| 114 kB 5.1 MB/s
Installing collected packages: neattext
Successfully installed neattext-0.1.3

In [ ]:
import neattext as nt

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Review Text'].apply(lambda x:nt.fix_contractions(str(x)))

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Cleaned_Text'].apply(lambda x:nt.remove_stopwords(x))

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Cleaned_Text'].apply(lambda x:nt.remove_puncts(x))

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Cleaned_Text'].apply(lambda x:nt.remove_bad_quotes(x))

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Cleaned_Text'].apply(lambda x:nt.remove_emojis(x))

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Cleaned_Text'].apply(lambda x:nt.remove_numbers(x))

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Cleaned_Text'].apply(lambda x:nt.remove_accents(x))

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Cleaned_Text'].apply(lambda x:nt.remove_multiple_spaces(x))

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Cleaned_Text'].apply(lambda x:nt.remove_non_ascii(x))

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Cleaned_Text'].apply(lambda x:nt.remove_shortwords(x,3))

In [ ]:
reviews_df['Cleaned_Text']=reviews_df['Cleaned_Text'].apply(lambda x:nt.remove_userhandles(x))

In [ ]:
topic_list=[]
df_list=[]
l=[]
def get_topic(text):
    f = open("temp.txt", "w")   #reading the temp file
    f.write(text) #writing the review in the file
    f.close()
    mdl = tp.LDAModel(k=10)       #model creation, k=number_of_topic(for which you want to train your model)
    for line in open('temp.txt'):
        mdl.add_doc(line.strip().split())   #adding corpus to model
    for i in range(0, 200, 10):
        mdl.train(10)    #train our model
    for k in range(mdl.k):
        topics=mdl.get_topic_words(k, top_n=5)  #getting desired number of topics from trained model K=number_of_topics
#         print(topics)
        return topics

In [ ]:
reviews_df['Topics']=reviews_df['Cleaned_Text'][0:10].apply(lambda x:((get_topic(x))))

In [ ]:
reviews_df['Topics']

0        [(absolutely, 0.20000000298023224), (wonderful...
1        [(online, 0.05000000074505806), (truly, 0.0500...
2        [(fact, 0.032258063554763794), (zipper, 0.0322...
3        [(love, 0.125), (jumpsuit, 0.125), (flirty, 0....
4        [(shirt, 0.09090908616781235), (flattering, 0....
                               ...
23481                                                  NaN
23482                                                  NaN
23483                                                  NaN
23484                                                  NaN
23485                                                  NaN
Name: Topics, Length: 23486, dtype: object

In [ ]:
reviews_df['Topics']=reviews_df['Topics'].apply(lambda x:nt.remove_special_characters(str(x)))

In [ ]:
reviews_df['Topics']=reviews_df['Topics'].apply(lambda x:nt.remove_numbers(str(x)))

In [ ]:
reviews_df['Topics']=reviews_df['Topics'].apply(lambda x:','.join(x.split()))

In [ ]:
reviews_df['Topics']

0        absolutely,wonderful,silky,sexy,comfortable
1                  online,truly,midi,true,definitely
2                     fact,zipper,directly,sewn,flaw
3                 love,jumpsuit,flirty,fabulous,time
4         shirt,flattering,adjustable,perfect,length
                            ...
23481                                            nan
23482                                            nan
23483                                            nan
23484                                            nan
23485                                            nan
Name: Topics, Length: 23486, dtype: object

In [ ]:
d=','.join(str(reviews_df['Topics']).split(","))

In [ ]:
reviews_df

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Cleaned_Text,Topics
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,absolutely wonderful silky sexy comfortable,"absolutely,wonderful,silky,sexy,comfortable"
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,love dress sooo pretty happened find store gla...,"love,pretty,definitely,glad,bought"
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,high hopes dress wanted work initially ordered...,"fact,zipper,directly,sewn,flaw"
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,love love love jumpsuit flirty fabulous time w...,"love,jumpsuit,flirty,fabulous,time"
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,shirt flattering adjustable perfect length wea...,"shirt,flattering,adjustable,perfect,length"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses,happy snag dress great price easy slip flatter...,"happy,snag,dress,great,price"
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits,reminds maternity clothes soft stretchy shiny ...,"found,others,maybe,sleeves,long"
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses,well through worked glad able store order onli...,"well,through,worked,glad,able"
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses,bought dress wedding summer cute unfortunately...,"cute,perfectly,shoulders,looking,cheaper"
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses,dress lovely platinum feminine fits perfectly ...,"dress,lovely,platinum,feminine,fits"

In [ ]:
reviews_df

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Cleaned_Text,Topics
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,absolutely wonderful silky sexy comfortable,absolutely wonderful silky sexy comfortable
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,love dress sooo pretty happened find store gla...,online truly midi true definitely
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,high hopes dress wanted work me initially orde...,zip somewhat usual net ok
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,love love love jumpsuit fun flirty fabulous ti...,fabulous wear compliments love jumpsuit
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,shirt flattering adjustable tie perfect length...,shirt flattering adjustable tie perfect
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses,happy snag dress great price easy slip flatter...,happy snag dress great price
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits,reminds maternity clothes soft stretchy shiny ...,maternity ok maybe sleeves long
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses,fit well through worked me glad able try store...,fit well through worked me
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses,bought dress wedding summer cute unfortunately...,shoulders looking cheaper found tag
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses,dress lovely platinum feminine fits perfectly ...,dress lovely platinum feminine fits