# Required Libararies

In [1]:
import openpyxl   #to read excel file
import pandas as pd   #data analysis
from fuzzywuzzy import fuzz, process  #fuzzy text matching libariries

c:\users\zee tech\appdata\local\programs\python\python39\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

# Reading the Data Files

In [2]:
#dataset files
dataset1=pd.read_excel('dataset1.xlsx')
dataset1=pd.DataFrame(dataset1)
dataset2=pd.read_excel('dataset2.xlsx')
dataset2=pd.DataFrame(dataset2)

#main dataset file
main=pd.read_excel('main.xlsx')
main=pd.DataFrame(main)

# Data Preprocessing

# Null Values Imputations

In [3]:
#checking null values

In [4]:
dataset1.isnull().sum()

id_1          0
Model Year    0
Brand         0
model         0
dtype: int64

In [5]:
dataset2.isnull().sum()

id_2          0
Model Year    0
Brand         3
model         1
dtype: int64

In [6]:
#droping null values
dataset2.dropna(inplace=True)
dataset2.isnull().sum()

id_2          0
Model Year    0
Brand         0
model         0
dtype: int64

In [7]:
main.isnull().sum()

id_main        0
group          0
maker_brand    0
model          6
dtype: int64

In [8]:
#precentage of null values
main.isnull().sum()/main.shape[0]

id_main        0.000000
group          0.000000
maker_brand    0.000000
model          0.043796
dtype: float64

In [9]:
#null values are too much small so i dropped them
main.dropna(inplace=True)

In [10]:
main.isnull().sum()

id_main        0
group          0
maker_brand    0
model          0
dtype: int64

In [11]:
#converting models to list
main_list=main['model'].tolist()
dataset1_list=dataset1['model'].tolist()
dataset2_list=dataset2['model'].tolist()

# Finding Matches From Dataset1 & 2

In [12]:
dataset1_match=[]
dataset2_match=[]
#finding closest match of main data car model from dataset1 car models and creating a list
for i in main_list:
    res = process.extract(i, dataset1_list, limit=1)[0][0] #find closest match from dataset1 agains main file
    id = dataset1[dataset1.model == res].id_1.values[0]
    dataset1_match.append(id)

#finding closest match of main data car model from dataset2 car models and creating a list

for i in main_list:
    res = process.extract(i, dataset2_list, limit=1)[0][0] #find closest match from datasets agains main file
    id = dataset2[dataset2.model == res].id_2.values[0]
    dataset2_match.append(id)

# Matched items from dataset1

In [16]:
len(dataset1_match)
# dataset1_match    #un-comment this to see list of matched models

131

# Matched items from dataset2

In [17]:

len(dataset2_match)
# dataset2_match    #un-comment this to see list of matched models

131

# Preprocessing on the Final Data

# Reading & Filling missing values in the Final Data File

In [13]:
final=pd.read_excel('final.xlsx')
final=pd.DataFrame(final)
final.drop(final[final.Model.isnull()].index, axis=0 ,inplace=True)
final.shape

(131, 6)

# Imputation of Matches in Final Data File

In [14]:
final.id_1 = dataset1_match
final.id_2 = dataset2_match

# Final Output

In [60]:
final

,id_main,group,maker_brand,Model,id_1,id_2
0,1,Small and Medium OEM,Aiways,U5,17,370
1,2,Anhui Jianghuai Automotive Group,Anhui Jianghuai Automobile (JAC),iEV7S,37,338
3,4,Anhui Jianghuai Automotive Group,Anhui Jianghuai Automobile (JAC),JAC IEVS4,37,374
4,5,Anhui Jianghuai Automotive Group,Anhui Jianghuai Automobile (JAC),iEV6E,37,171
5,6,VW Group,Audi,Audi e-tron GT,2,577
...,...,...,...,...,...,...
132,133,VW Group,VW,Caddy,15,553
133,134,VW Group,VW,VW Transporter,37,598
134,135,VW Group,VW,Crafter,37,573
135,136,Haima Automobile Group,XPeng,XPeng G3,37,171
136,137,Geely Holding Group,ZD,D2,74,136

# Saving Final Results to Excel File

In [61]:
final.to_excel("final_results.xlsx")

# Best of Luck